@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.general {
  align-items: center;
  align-content: center;
  padding-top: 120px;
  padding-bottom: 120px;
  padding-left: 270px;
  padding-right: 270px;
  width: 100%;
  height: 100%;
  background-color: #0841c5;
}

.login-container {
  width: 100%;
  height: auto;
  padding: 10rem;
  background-color: #ffffff;
  border-radius: 0 30px 30px 0;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 1rem;
  color: #0841c5;
}

.login-container h3{
  color: #0841c5;
}

.login-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #0841c5; /* L铆nea debajo */
  background-color: transparent;
  outline: none;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.login-container input:focus {
  border-bottom: 2px solid #2c56b8; /* Cambia el color al enfocar */
}


.login-container button {
  width: 100%;
  padding: 10px;
  background-color: #0841c5;
  color: #fff;
  border: none;
  border-radius: 40px;
  cursor: pointer;
}

.boton_login:hover {
  background-color: #1655e9;
}

.login-container p {
  color: red;
  text-align: center;
}

.top-container {
  width: 100%; 
  height: 100%;
  background-color: #2c56b8;
  display: flex;
  justify-content: center; 
  align-items: center; 
  border-radius: 30px 0 0 30px;
}

.top-container img {
  height: 100%; 
  object-fit: contain; 
  border-radius: 30px 0 0 30px;
}
.outer-container{
  width: 100%;
  height: 100%;
  background-color: rgb(13, 41, 165);
  display: flex;
  box-shadow: 0 0 50px 20px rgba(0, 0, 0, 0.6);
}
form{
  width: 100%;
  height: 100%;
  justify-items: center;
  padding: 35px;
}
.login-container p{
  color: #0841c5;;
  font-size: 12px;

}
.form .rpass {
  width: 100%;
  display: block;
  justify-content: flex-end;
  margin-top: 10px;
}

.form .rpass a {
  color: #0841c5; 
  text-decoration: none;
  font-size: 14px;
  margin-bottom: 15px;
  margin-left: 45%;
}
.input-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}

.input-wrapper input {
  flex: 1;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
  border-bottom: 2px solid #2c56b8;
  padding-bottom: 5px;
  color: #0841c5;
}

.input-wrapper input:focus {
  border-bottom: 2px solid #2c56b8;
}

.input-icon {
  margin-left: 10px;
  display: flex;
  align-items: center;
  cursor: default; 
}

input::placeholder {
  color: #5f7dc2; 
  opacity: 1;     
}
.form h2{
  font-size: 50px;

}
.login-container button,
.login-container button * {
  color: #fff !important; /* fuerza el color blanco */
}

.login-container .boton_login{
  background-color: #0841c5;
}

.login-container .boton_register,
.login-container .boton_register * {
  color: #0841c5 !important; /* fuerza el color blanco */
}

.login-container .boton_register{
  background-color: #ffffff;
  color: #0841c5 !important;
  border: 1px solid #0841c5;
  height: 40px;
  margin-top: 5px;
  padding: 8px;
}



/*******MODAL********************/
.modal-codigo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  border-radius: 12px;
  padding: 25px 35px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  width: 320px;
}

.modal-content h3 {
  margin-bottom: 10px;
}

.input-codigo {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 2px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}


/**********/

.login-container_register {
  width: 100%;
  height: auto;
  padding-top: 2rem;
  padding-bottom: 10rem;
  padding-left: 10rem;
  padding-right: 10rem;
  background-color: #ffffff;
  border-radius: 0 30px 30px 0;
}

.login-container_register h2 {
  text-align: center;
  margin-bottom: 1rem;
  color: #0841c5;
}

.login-container_register h3{
  color: #0841c5;
}

.login-container_register input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #0841c5; /* L铆nea debajo */
  background-color: transparent;
  outline: none;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.login-container_register input:focus {
  border-bottom: 2px solid #2c56b8; /* Cambia el color al enfocar */
}


.login-container_register button {
  width: 100%;
  padding: 10px;
  background-color: #0841c5;
  color: #fff;
  border: none;
  border-radius: 40px;
  cursor: pointer;
}

.boton_login:hover {
  background-color: #1655e9;
}

.login-container_register p {
  color: red;
  text-align: center;
}

.top-container {
  width: 100%; 
  height: 100%;
  background-color: #2c56b8;
  display: flex;
  justify-content: center; 
  align-items: center; 
  border-radius: 30px 0 0 30px;
}

.top-container img {
  height: 100%; 
  object-fit: contain; 
  border-radius: 30px 0 0 30px;
}
.outer-container{
  width: 100%;
  height: 100%;
  background-color: rgb(13, 41, 165);
  display: flex;
  box-shadow: 0 0 50px 20px rgba(0, 0, 0, 0.6);
}
form{
  width: 100%;
  height: 100%;
  justify-items: center;
  padding: 35px;
}
.login-container_register p{
  color: #0841c5;;
  font-size: 12px;

}
.form .rpass {
  width: 100%;
  display: block;
  justify-content: flex-end;
  margin-top: 10px;
}

.form .rpass a {
  color: #0841c5; 
  text-decoration: none;
  font-size: 14px;
  margin-bottom: 15px;
  margin-left: 45%;
}
.input-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}

.input-wrapper input {
  flex: 1;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
  border-bottom: 2px solid #2c56b8;
  padding-bottom: 5px;
  color: #0841c5;
}

.input-wrapper input:focus {
  border-bottom: 2px solid #2c56b8;
}

.input-icon {
  margin-left: 10px;
  display: flex;
  align-items: center;
  cursor: default; 
}

input::placeholder {
  color: #5f7dc2; 
  opacity: 1;     
}
.form h2{
  font-size: 50px;

}
.login-container_register button,
.login-container_register button * {
  color: #fff !important; /* fuerza el color blanco */
}

.login-container_register .boton_login{
  background-color: #0841c5;
}

.login-container_register .boton_register,
.login-container_register .boton_register * {
  color: #0841c5 !important; /* fuerza el color blanco */
}

.login-container_register .boton_register{
  background-color: #ffffff;
  color: #0841c5 !important;
  border: 1px solid #0841c5;
  height: 40px;
  margin-top: 15px;
  padding: 8px;
}

/************/
/* Cambiar el color del bot贸n de confirmaci贸n */
.btn-confirm {
  background-color: #0841c5 !important; /* Verde, por ejemplo */
  border-color: #0841c5 !important;
}

/* Cambiar el color del bot贸n en caso de error */
.btn-error {
  background-color: #0841c5 !important; /* Rojo, por ejemplo */
  border-color: #0841c5 !important;
}
.btn-register_ex{
  background-color: #0841c5 !important; /* Rojo, por ejemplo */
  border-color: #0841c5 !important;
}

/* Estilo para cuando el bot贸n es hover (pasar el mouse por encima) */
.btn-confirm:hover, .btn-error:hover {
  background-color: #2c5bc9 !important; /* Un verde m谩s oscuro */
  border-color: #2c5bc9 !important;
}


@media screen and (max-width: 428px) {

  .general {
    padding: 25px;
  }

  /*  Ajuste del contenedor superior */
  .top-container {
    width: 100%;
    height: 200px;
    border-radius: 30px 30px 0 0;
    overflow: hidden; /*  Esto evita que la imagen se desborde */
    background-color: transparent; /* ya no lo necesitas */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /*  La imagen debe cubrir todo el espacio */
  .top-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /*  Ocupa todo el contenedor */
    border-radius: 30px 30px 0 0;
    content: url("../../src/components/uploads/kolio.png"); /* tu imagen m贸vil */
  }

  /*  Ajuste de caja de login */
  .login-container {
    padding: 0.5rem;
    height: 500px;
    border-radius: 0px 0px 30px 30px;
  }

  .login-container h2 {
    font-size: 28px;
  }

  .login-container h3 {
    font-size: 16px;
  }

  .login-container input {
    font-size: 14px;
    padding: 8px;
  }

  .login-container button {
    font-size: 14px;
    padding: 8px;
  }

  .form .rpass a {
    font-size: 12px;
  }

  .form h2 {
    font-size: 32px;
  }

  .outer-container {
    padding: 0px;
    display: block;
    border-radius: 30px 30px 30px 30px;
  }

  .boton_register {
    padding: 8px 10px;
    height: 35px;
  }
  .login-container p {
    margin-top: 30px;
  }
  .login-container_register{
    padding: 0.5rem;
    height: 500px;
    border-radius: 0px 0px 30px 30px;
  }
  .login-container_register .form{
    padding-top:5px ;
  }
  .login-container_register h2{
    margin-bottom: 4px;
  }
  .input-wrapper{
    margin-bottom: 0px;
  }
  .login-container_register .boton_register{
    margin-top: 5px;
  }
}
