
.mis-reservas {
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.mis-reservas h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.8rem;
  color: #333;
}

.reserva-form {
  display: block;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-bottom: 10px;

}

.reserva-form label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  color: #444;
}

.reserva-form input,
.reserva-form select {
  width: 300px;
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 0.95rem;
}

.reserva-form input:focus,
.reserva-form select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0,123,255,0.3);
}

.btn-submit {
  grid-column: span 2;
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s ease;
  margin-top: 10px;
  margin-left: 25%;
}

.btn-submit:hover {
  background: #0056b3;
}

.tabla-reservas {
  margin-top: 20px;
  background-color: #ffffff;
  border-radius: 20px;
}
.reservas-list{
  font-size: 12px;
  border-radius: 20px;
}
.reserva-card{
  display: flex;
  margin-bottom: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  border: 10px solid #EDF7FF;
}
.btn_res_a{
  background-color: #f36e6e;
  width: 80px;
  height: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  padding: 2px;
  margin-top: 5px;
  margin-left: 35px;
}
.btn_res_b{
  background-color: #87f383;
  width: 80px;
  height: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  padding: 2px;
  margin-top: 5px;
}

.reserva-info{
  width: 250px;
  text-align: center;
}
.reserva-actions{
  padding-top: 50px;
  padding-left: 10px;

}
h3{
  font-size: 22px;
  text-align: center;
} 