.container_pagos {
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: rgb(183, 135, 238);
  width: 100%;
  height: 100%;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal h3 {
  text-align: center;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

button:focus {
  outline: none;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
}

button[type="button"] {
  background-color: #f44336;
  color: white;
}
.spinner {
  text-align: center;
  font-size: 18px;
  padding: 20px;
  font-weight: bold;
}

button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.boton_pagos{
  background-color: #0150F4;
  color: white;
}
.select_pago{
  border-radius: 10px;
  height: 35px;
  padding: 4px;
  margin-top: 5px;
}

.select_estado{
  border-radius: 10px;
  height: 35px;
  padding: 4px;
  margin-top: 5px;
}