.container-reserva {
  padding: 20px;
  font-family: Arial, sans-serif;
  width: 100%;
  height: 100%;
  display:grid;
  border-radius: 20px;
}
.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-height: 90vh;
  overflow-y: auto;
}
.modal-content form > * {
  margin-bottom: 10px;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}
.modal-content button {
  margin-right: 10px;
}
.form-reserva{
 background-color: #ffffff;
 width: 100%;
 height: min-content;
 display: flex;
 padding: 10px;
 align-items: center;
 justify-content: center;
 border-radius: 20px;
}
.form-reserva .inputForm{
  margin: 5px;
}
.tabla-container{
 width: 100%;
 height: 650px;
 background-color: #ffffff;
 border-radius: 20px;
 padding: 12px;
}
.boton-pdf{
  background-color: rgb(212, 68, 68);
  width: 140px;
  height: 35px;
  font-size: 13px;           
}
.boton-excel{
  background-color: rgb(51, 216, 93);
  margin-right: 10px;
  width: 140px;
  height: 35px;
  font-size: 13px;
  margin-left: 9px;
}
.boton_editar{
  background-color: #0150f4;
  color: #ffffff;
  width: 38px;
  height: 35px;
  margin-right: 5px;
  padding: 0.5rem;
}
.boton_eliminar{
  background-color: #0150f4;
  color: white;
  width: 38px;
  height: 35px;
  margin-right: 5px;
  padding: 0.5rem;
  
}
.boton_imprimir{
  background-color: #0150f4;
  color: white;
  width: 38px;
  height: 35px;
  padding: 0.5rem;
}
.buscador{
  border-radius: 8px;
  height: 35px;
  width: 250px;
  border: 1px solid #bebebe;
  margin-bottom: 8px;
  padding: 5px;
  font-size: 14px;
}
.pest-tabla{
  display:flex;
}
.form-reserva .boton_form{
  background-color: #0150f4;
  height: 38px;
  width: 120px;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  text-align: center;
  padding: 7px;
}

