/* Barra superior */
.cliente-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0841c5;
  color: rgb(255, 255, 255);
  padding: 12px 16px;
    z-index: 1100;  
    height: 45px;
}

.cliente-navbar .logo {
  font-size: 18px;
  font-weight: bold;
}

.menu-btn {
  background: none;
  border: none;
  font-size: 22px;
  color: white;
  cursor: pointer;
    z-index: 1200;   
}

/* Sidebar oculto por defecto */
.cliente-sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 220px;
  height: 100%;
  background: #0841c5;
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease;
  z-index: 1000;
  padding-top: 60px;
}

/* Cuando está abierto */
.cliente-sidebar.open {
  left: 0;
}

/* Links */
.cliente-sidebar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cliente-sidebar nav ul li {
  border-bottom: 1px solid #eee;
}

.cliente-sidebar nav ul li a {
  display: block;
  padding: 14px;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
}

.cliente-sidebar nav ul li.active a {
  background: #0055ff;
  color: white;
}

.logout-button-cl{
  background-color: rgb(255, 255, 255);
  border-radius: 18px;
  margin-left: 20%;
  margin-top: 210%;
}
