/* Estilos para el sidebar */
.sidebar {
  width: 220px;
  background-color: #0841c5;

  color: white;
  padding: 20px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column; /* Apilar elementos en columna */
  justify-content: space-between; /* Espaciado entre los elementos */
  height: 100vh; /* Para ocupar toda la altura de la pantalla */
}

/* Estilos para el encabezado (nombre del sistema) */
.sidebar-header {
  width: 100%;
  text-align: left;
  padding-left: 20px; /* Alineación hacia la izquierda */
  margin-bottom: 20px;
}

.sidebar-header h1 {
  font-size: 24px;
  color: #f4f6f8;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 0;
}

/* Lista de elementos */
.sidebar ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column; /* Los <li> se alinean verticalmente */
  align-items: flex-start; /* Alineación a la izquierda */
  margin: 0;
  flex-grow: 1;
  width: 100%;
}

/* Estilo de los li */
.sidebar li {
  margin: 10px 0;
  width: 100%;
}

.sidebar li a {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Alinea el texto a la izquierda */

  height: 40px;
  padding-left: 20px; /* Separación del borde izquierdo */
  border-radius: 12px;
  width: 100%;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
  font-weight: 400;
}

.sidebar li a:hover {
  background-color: #ffffff;
  color: #0841c5;
  text-decoration: none;
}

/* Botón de cerrar sesión */
.sidebar button {
  background-color: aliceblue;
  width: 150px;
  height: 40px;
  border-radius: 18px;
  cursor: pointer;
  align-self: center; /* Centra el botón */
  margin-top: 20px;
  font-size: 15px;
  font-weight: 600;
  border: none;
  color: #0841c5;
}

.sidebar button:hover {
  background-color: #316fff;
  color: #ffffff;
}
.sidebar li a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 40px;
  padding-left: 20px;
  border-radius: 12px;
  width: 100%;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
  font-weight: 400;
  gap: 10px; /* Espacio entre ícono y texto */
}

/* Estilo para los íconos */
.sidebar-icon {
  width: 18px;
  height: 18px;
  stroke: white; /* ¡Usa stroke! */
  transition: stroke 0.3s ease;
}

/* Al pasar el ratón sobre el enlace, cambiar el color del icono */
.sidebar li a:hover .sidebar-icon {
  stroke: #0841c5; /* Azul */
}


/* Asegura que los iconos estén en color blanco por defecto */
.sidebar li a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 40px;
  padding-left: 20px;
  border-radius: 12px;
  width: 100%;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
  font-weight: 400;
  gap: 10px; /* Espacio entre ícono y texto */
}

.sidebar li a:hover {
  background-color: #ffffff;
  color: #0841c5; /* Cambia el color del texto */
  text-decoration: none;
}
