.container_usuarios {
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #F5F5F5;
  width: 100%;
  height: 100%;
}
.form_user{
  background-color: #ffffff;
 width: 100%;
 height: min-content;
 display: flex;
 padding: 10px;
 align-items: center;
 justify-content: center;
 border-radius: 20px;
 align-content: center;
 justify-items: center;

}
.form_user .bloq_form{
  margin-right: 45px;
  height: 40px;
}

.form_user .boton_usuario{
  height: 40px;
  margin-left: 200px;
  background-color: #0150F4 ;
}

.pest-tabla{
  display:flex;
}
.buscador{
  border-radius: 8px;
  height: 35px;
  width: 250px;
  border: 1px solid #bebebe;
  margin-bottom: 8px;
  padding: 5px;
  font-size: 14px;
}
.boton_edit{
  background-color: #0150F4;
  color: #ffffff;
  margin-right: 5px;
  
}

.boton_delete{
  background-color: #0150F4;
  color: #ffffff;


}